.movies {
  padding: 70px 70px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 24px;
  grid-row-gap: 30px;
  margin: 0 0 30px;
}

.movies__more-button {
  margin-top: 50px;
  width: 1140px;
  height: 36px;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background: #f9f9f9;
  border-radius: 6px;
  cursor: pointer;
}

.movies__more-button_invisible {
  display: none;
}

@media (max-width: 1179px) {
  .movies__list {
    grid-template-columns: repeat(2, auto);
  }

  .movies__list-item:nth-of-type(n + 9) {
    display: none;
  }

  .movies__more-button {
    width: 752px;
  }
}

@media (max-width: 820px) {
  .movies {
    padding-left: 30px;
    padding-right: 30px;
  }

  .movies__list {
    grid-column-gap: 30px;
    grid-row-gap: 36px;
  }
  .movies__more-button {
    width: 708px;
  }
}

@media (max-width: 720px) {
  .movies {
    padding: 40px 10px 80px;
  }

  .movies__list {
    grid-template-columns: repeat(1, auto);
    grid-row-gap: 16px;
  }

  .movies__list-item:nth-of-type(n + 6) {
    display: none;
  }

  .movies__more-button {
    width: 339px;
  }

  @media (max-width: 576px) {
    .movies__more-button {
      width: 300px;
    }
}
}