.portfolio {
    width: calc(100% - 70px*2);
    margin: auto;
    padding-bottom: 125px;
}

.portfolio__heading {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    margin: 0 0 50px 0;
}

.portfolio__links {
    margin: 0;
    padding: 0;    
    list-style: none;
   
}

.portfolio__links-item {
    width: 100%;
}

.portfolio__links-item:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 19px;
    border-bottom: 1px solid #E8E8E8;
    
}

.portfolio__link {
    background: url("../../images/link_arrow.svg") right no-repeat;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-decoration: none;
    color: #000000;
    display: flex;
    justify-content: space-between;
    transition: background-position-y 0.3s, opacity 0.6s;
}

.portfolio__link:hover {
    background-position-y: 35%;
}
