.info-tooltip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.info-tooltip_opened {
  visibility: visible;
  opacity: 1;
}

.info-tooltip__container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 430px;
  max-height: 330px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.info-tooltip__status {
  width: 120px;
  height: 120px;
  margin: 60px auto 32px;
}

.info-tooltip__status_fail {
  background-image: url(../../images/checked-false.svg);
}

.info-tooltip__status_success {
  background-image: url(../../images/checked-true.svg);
}

.info-tooltip__text {
  margin: 0 36px 60px;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000;
}

.info-tooltip__text_small {
  font-weight: 500;
  font-size: 16px;
  margin-top: -12px;
  margin-bottom: 12px;
}

.info-tooltip__close-button {
  background: transparent;
  position: absolute;
  padding: 0;
  top: -42px;
  right: -42px;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.info-tooltip__close-button::before {
  position: absolute;
  content: "";
  height: 35px;
  border: 2px solid #fff;
  top: 0;
  transform: rotate(45deg);
}

.info-tooltip__close-button::after {
  position: absolute;
  content: "";
  height: 35px;
  border: 2px solid #fff;
  top: 0;
  transform: rotate(-45deg);
}

.info-tooltip__close-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 539px) {
  .info-tooltip__text {
    font-size: 20px;
    line-height: 24px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .info-tooltip__close-button {
    top: -38px;
    right: 0;
    width: 22px;
    height: 22px;
  }

  .info-tooltip__close-button::before {
    height: 23px;
    border: 1px solid #fff;
  }
  .info-tooltip__close-button::after {
    height: 23px;
    border: 1px solid #fff;
  }
}

@media screen and (max-width: 470px) {
  .info-tooltip {
    padding: 0 19px;
  }
}

@media screen and (max-width: 400px) {
  .info-tooltip__text {
    margin-left: 18px;
    margin-right: 18px;
  }
}
